$dark1: #36393f;
$dark2: #2f3136;
$dark3: #292b2f;
$corbutton: #5865f2;
$corbuttonoff: #353646;
$corspan: #d6d7d9;

$corverde: #3ba55c;
$corvermelho: #FF2111;
$coramarelo: #FBCE3B;

$white1: #DEE7FD;
$white2: #D7E0F5;
$white3: #C9D9FF;
