*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0, #120c56, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*-------------------------------------*/

#menu{
    position: absolute;
    z-index: 6;
    background-image: url("../Top_Home.png");
    background-repeat: repeat;
    width: 100%;
    height: 80px;
}
.bt_opt{
    position: absolute;
    display: block;
    right: 10px;
    top: 15px; 
}
.bt_opt input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 40px;
}
.bt_opt input:focus{
    outline: none;
}
.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
    top: 15px;
    background-image: url("../logo.png");
    background-repeat: no-repeat;
}
/*-------------------------------------*/

#menuL{
    position: absolute;
    z-index: 5;
    background: linear-gradient(0, #120c56, #000000);
    width: 150px;
    height: 100%;
    float: right;
    
}
#menuL form{
    margin-top: 80px;
}
#menuL form input{
    background-image: url("../button.png");
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-style: none;
    outline-style: none;
    border-radius: 1px;
    font-family: verdana;
    background-color: rgba(255, 255, 255, 0.5);
}
#menuL form input[name="vps"]{
    background-image: url("../buttonOn.png");
}
#menuL form input:hover{
    background-image: url("../buttonSL.png");
}

/*-------------------------------------*/

#options{
    position: absolute;
    right: 0;
    display: none;
    z-index: 10;
    width: 80px;
    height: 94px;
    background-color: rgb(255, 255, 255);  
    top: 80px;
}
#options ul{
    padding: 0;
    cursor:pointer;
    

}
#options ul li{
    height: 30px;
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
    list-style:none;
} 

/*-------------------------------------*/

#inff{
    background-image: url("../ipBC.png");
    height: 50px;
}
#inff ul{
    padding-top: 15px;;
    padding-left:0;
}
#inff ul a{
    cursor:Default;
    position: relative;
    list-style:none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 2px;
}
.finance{
    color: rgb(3, 49, 3);
}
.ip{
}

/*-------------------------------------*/
#section {
    margin-left: 150px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#section .section{
    position: relative;
    background-color: aquamarine;
    margin-top: 80px;
    width: 90%; 
    height: 500px;
}
#section .section div{
    background-color: rgb(66, 0, 97);
    width: 80%; 
    height: 500px;
    right: 0;
}
#section .section div .itens{
    position: absolute;
    overflow: auto;
    background-image: url("../itensbc.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-color: rgb(68, 68, 68);
    border-style: outset;
    width: 80%; 
    height: 100%;
    right: 0;

}
#section .section div .itens .ts{
    position: relative;
    background-image: url("../itens1.png");
    color: rgb(172, 172, 172);
    width: 100%;
    height: 20px;
    display: flex;
}
#section .section div .itens .ts button{
    position: relative;
    outline: none;
    cursor: pointer;
    left: 200px;
    margin-left: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(131, 131, 131);
}
#section .section div .itens .ts button:hover{
    color: rgb(162, 162, 162);
}
#section .section div .itens .ts button[class='btc_execut']{
    color: brown;
}
#section .section div .itens .ts button[class='btc_execut']:hover{
    color: rgb(138, 41, 41);
}
#section .section div .itens .ts .itn{
    position: relative;
    cursor: default;
}
#section .section div .itens .ts .sp{
    position: relative;
    cursor: default;
    left: 10px;
}
#section .section div .itens .ts .btc1{
    right: 10%;
}
#section .section div .itens .ts .btc2{
    right: 20%;
}
#section .section div .itens .ts .btc3{
    right: 30%;
}
#section .section div .itens .ts .btc4{
    right: 40%;
}
#section .section div .itens .ts2{
    position: relative;
    background-image: url("../itens2.png");
    color: rgb(172, 172, 172);
    width: 100%;
    height: 20px;
    display: flex;

}
#section .section div .itens .ts2 button{
    position: relative;
    outline: none;
    cursor: pointer;
    left: 200px;
    margin-left: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(131, 131, 131);
}
#section .section div .itens .ts2 button:hover{
    color: rgb(162, 162, 162);
}
#section .section div .itens .ts2 button[class='btc_execut']{
    color: brown;
}
#section .section div .itens .ts2 button[class='btc_execut']:hover{
    color: rgb(138, 41, 41);
}
#section .section div .itens .ts2 .itn{
    position: relative;
    cursor: default;
}
#section .section div .itens .ts2 .sp{
    position: relative;
    cursor: default;
    left: 10px;
}
#section .section div .itens .ts2 .btc1{
    right: 10%;
}
#section .section div .itens .ts2 .btc2{
    right: 20%;
}
#section .section div .itens .ts2 .btc3{
    right: 30%;
}
#section .section div .itens .ts2 .btc4{
    right: 40%;
}