*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #7b1346;
}
/*-------------------------------------*/

#menu{
    position: absolute;
    z-index: 6;
    background-image: url("../Top_Home.png");
    background-repeat: repeat;
    width: 100%;
    height: 80px;
}
.bt_opt{
    position: absolute;
    display: block;
    right: 10px;
    top: 15px; 
}
.bt_opt input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 40px;
}
.bt_opt input:focus{
    outline: none;
}
.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
    top: 15px;
    background-image: url("../logo.png");
    background-repeat: no-repeat;
}
/*-------------------------------------*/

#menuL{
    position: absolute;
    z-index: 5;
    background-color: #7b1346;
    width: 150px;
    height: 100%;
    float: right;
    
}
#menuL form{
    margin-top: 80px;
}
#menuL form input{
    background-image: url("../button.png");
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-style: none;
    outline-style: none;
    border-radius: 1px;
    font-family: verdana;
    background-color: rgba(255, 255, 255, 0.5);
}
#menuL form input[name="log"]:hover{
    background-image: url("../buttonOn.png");
}
#menuL form input[name="log"]{
    background-image: url("../buttonOn.png");
}
#menuL form input:hover{
    background-image: url("../buttonSL.png");
}

/*-------------------------------------*/

#options{
    position: absolute;
    right: 0;
    display: none;
    z-index: 10;
    width: 80px;
    height: 94px;
    background-color: rgb(255, 255, 255);  
    top: 80px;
}
#options ul{
    padding: 0;
    cursor:pointer;
    

}
#options ul li{
    height: 30px;
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
    list-style:none;
} 

/*-------------------------------------*/

#inff{
    background-image: url("../ipBC.png");
    height: 50px;
}
#inff ul{
    padding-top: 15px;;
    padding-left:0;
}
#inff ul a{
    cursor:Default;
    position: relative;
    list-style:none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 2px;
}
.finance{
    color: rgb(3, 49, 3);
}
.ip{
}

/*-------------------------------------*/
#section {
    margin-left: 150px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#section .header{
    margin-top: 80px ;
    background-color: aqua;
    width: 90%; 
    height: 50px;
}
#section .section{
    background: linear-gradient(0, #120c56, #000000);
    width: 90%; 
    height: 450px;
}
#section .section .corpo-log{
    
}
#section .section .corpo-log-top{
    background-color: blueviolet;
    height: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
#section .section .corpo-log-bot{
    position: relative;
    background-color: rgb(131, 185, 194);
    height: 400px;
    margin-left: 15%;
    margin-right: 15%;
}
#section .section .corpo-log-bot textarea{
    position: absolute;
    border: none;
    background-color: rgb(22, 22, 22);
    color: chartreuse;
    outline: 0;
    width: 100%;
    height: 92%;
}
#section .section .corpo-log-bot input[autocomplete="off"]{
    position: absolute;
    border: none;
    background-color: rgb(0, 0, 0);
    color: cornsilk;
    outline: 0;
    left: 4%;
    width: 96%;
    height: 8%;
    bottom: 0px;;
}
#section .section .corpo-log-bot input[placeholder="  c:>"]{
    position: absolute;
    border: none;
    background-color: rgb(0, 0, 0);
    outline: 0;
    width: 4%;
    height: 8%;
    bottom: 0px;;
}
#section .section .corpo-log-bot textarea{
    position: absolute;
    border: none;
    resize: none;
    outline: 0;
}