*{
    margin: 0;
}
body{
    background-color: rgb(180, 180, 180);
}
/*-------------------------------------*/

#menu{
    position: absolute;
    z-index: 6;
    background-image: url("../Top_Home.png");
    background-repeat: repeat;
    width: 100%;
    height: 80px;
}
/*-------------------------------------*/

#menuL{
    position: absolute;
    z-index: 5;
    background-color: #7b1346;
    width: 150px;
    height: 100%;
    float: right;
    
}
#menuL form{
    margin-top: 80px;
}
#menuL form input{
    background-image: url("../button.png");
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-style: none;
    outline-style: none;
    border-radius: 1px;
    font-family: verdana;
    background-color: rgba(255, 255, 255, 0.5);
}
#menuL form input[name="home"]{
    background-image: url("../buttonOn.png");
}
#menuL form input:hover{
    background-image: url("../buttonSL.png");
}

/*-------------------------------------*/

#options{
    position: absolute;
    right: 0;
    display: block;
    z-index: 10;
    width: 80px;
    height: 94px;
    background-color: rgb(255, 255, 255);  
    top: 80px;
}
#options ul{
    padding: 0;
    cursor:pointer;
    

}
#options ul li{
    height: 30px;
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
    list-style:none;
} 

.bt_opt{
    position: absolute;
    display: block;
    right: 10px;
    top: 15px; 
}
.bt_opt input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 40px;
}
.bt_opt input:focus{
    outline: none;
}

/*-------------------------------------*/

#inff{
    background-image: url("../ipBC.png");
    height: 50px;
}
#inff ul{
    padding-top: 15px;;
    padding-left:0;
}
#inff ul a{
    cursor:Default;
    position: relative;
    list-style:none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 2px;
}
.finance{
    color: rgb(3, 49, 3);
}
.ip{
}

/*-------------------------------------*/
#section{
    position: absolute;
    z-index: 0;
    background-color: #7b1346;
    width: 100%;
    height: 100%;
}
#section div{
    margin-top: 80px ;
    margin-left: 150px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
