*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0, #120c56, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*-------------------------------------*/

#menu{
    position: absolute;
    z-index: 6;
    background-image: url("../Top_Home.png");
    background-repeat: repeat;
    width: 100%;
    height: 80px;
}
.bt_opt{
    position: absolute;
    display: block;
    right: 10px;
    top: 15px; 
}
.bt_opt input{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 40px;
}
.bt_opt input:focus{
    outline: none;
}
.logo{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
    top: 15px;
    background-image: url("../logo.png");
    background-repeat: no-repeat;
}
/*-------------------------------------*/

#menuL{
    position: absolute;
    z-index: 5;
    background: linear-gradient(0, #120c56, #000000);
    width: 150px;
    height: 100%;
    float: right;
    
}
#menuL form{
    margin-top: 80px;
}
#menuL form input{
    background-image: url("../button.png");
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-style: none;
    outline-style: none;
    border-radius: 1px;
    font-family: verdana;
    background-color: rgba(255, 255, 255, 0.5);
}
#menuL form input[name="task"]{
    background-image: url("../buttonOn.png");
}
#menuL form input:hover{
    background-image: url("../buttonSL.png");
}

/*-------------------------------------*/

#options{
    position: absolute;
    right: 0;
    display: none;
    z-index: 10;
    width: 80px;
    height: 94px;
    background-color: rgb(255, 255, 255);  
    top: 80px;
}
#options ul{
    padding: 0;
    cursor:pointer;
    

}
#options ul li{
    height: 30px;
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 1px;
    list-style:none;
}

/*-------------------------------------*/

#inff{
    background-image: url("../ipBC.png");
    height: 50px;
}
#inff ul{
    padding-top: 15px;;
    padding-left:0;
}
#inff ul a{
    cursor:Default;
    position: relative;
    list-style:none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    line-height: 2px;
}
.finance{
    color: rgb(3, 49, 3);
}
.ip{
}

/*-------------------------------------*/
#section{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#section #pai{
    position: absolute;
    background-color: blanchedalmond;
    margin-top: 80px;
    margin-left: 150px;
    width: 80%;
    height: 500px;
    background: linear-gradient(0, rgb(148, 94, 199), blueviolet);
    overflow:auto;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(0, #a09dc2, #c9f6fc);
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(51, 51, 51);
    border-width: 2px;
}
::-webkit-scrollbar-track-piece{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#section #pai .filho{
    width: 100%;
    height: 90px;
    background: linear-gradient(0, #4fa4aa, #4dc9aa);
    display: grid;
    grid-template-columns: 20fr 120px;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    border-style: solid;
    border-color: rgba(27, 27, 27, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#section #pai .filho .barra-fora{
    height: 40px;
    background-color: rgb(216, 216, 216);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
#section #pai .filho .barra-dentro{
    height: 100%;
    background: linear-gradient(0, #20ad67, #80aa31);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#section #pai .filho .barra-dentro span{
    position: relative;
    top: 6px;
    font-size: 25px;
}
#section #pai .filho .time{
    font-size: 25px;
    height: 25px;
    margin-top: 8px;
    margin-left: 5px;
}
#section #pai .filho .time span{
    background-color: rgba(177, 252, 252, 0.3);
    border-radius: 5px;
    padding: 5px;
}
#section #pai .filho .info span{
    font-size: 25px;
    margin-left: 30px;
    background-color: rgba(177, 252, 252, 0.3);
    color: rgb(41, 41, 41);
    padding: 5px;
    border-radius: 5px;
}